{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand">Patient Dashboard</a> 
        <a class="btn btn-outline-info" aria-current="page" href="{% url 'logout' %}">logout</a>
        </div>
    </nav>
    <div class="container mt-5">
       
        <div class="col-sm-10">
            <div class="card-header alert alert-warning text-center offset-2 ">
                <h3><b>Appointment Confirmed Successfully!!!!!</b> </h3>
            </div>
            <div class="card offset-2">
                <div class="card-body">
                   <div class="container offset-3">
                        <div class="row">
                            <p text-muted small>Doctor Name: <strong>{{dname}}</strong></p><br>
                        </div>
                        <div class="row">
                            <p text-muted small>Appointment Date: <strong>{{date}}</strong></p><br>
                        </div>
                        <div class="row">
                            <p text-muted small>Appointment start time: <strong>{{time}}</strong></p><br>
                        </div>
                        <div class="row">
                            <p text-muted small>Appointment end time: <strong>{{endtime}}</strong></p><br>
                        </div>
                   </div>
                </div>
                <br>
                <a href="{% url 'dashboardpat' %}">Back to Home</a>
            </div>
        </div>    
    </div>



    <section class="vh-100 h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h3 class="mb-3">Program Title</h3>
                  <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Created by <strong>MDBootstrap</strong> on 11 April , 2021</p>
                  <hr class="my-4">
                  <div class="d-flex justify-content-start align-items-center">
                    <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span class="text-muted small">settings</span></p>
                    <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span class="text-muted small">program link</span></p>
                    <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span class="text-muted small">program link</span>
                      <span class="ms-3 me-4">|</span></p>
                    <a href="#!">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar" class="img-fluid rounded-circle me-3" width="35">
                    </a>
                    <button type="button" class="btn btn-outline-dark btn-sm btn-floating">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock content %}